<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Wallet</a></li>
        <li class="breadcrumb-item active" aria-current="page">Deposit</li>
    </ol>
</nav>



<div class="dataForm">
    <form>
        <label for="paymentMethod" class="inputLabel">Payment Method</label>
        <select id="paymentMethod" class="input" name="paymentMethod" [(ngModel)]="paymentMethod">
        <option selected value="">Select Payment Method</option>
        <option value="Card">ATM Card or Bank</option>
        <!-- ... -->
      </select>
        <br /><br>
        <label for="paymentMethod" class="inputLabel">Amount</label>
        <input type="text" name="uvt" class="input" placeholder="Enter Amount (&#8358;500, Min)" name="depositAmount" [(ngModel)]="depositAmount" /><br><br>
        <label for="paymentMethod" class="inputLabel">My Wallet Pin</label>
        <input type="text" name="uvt" class="input" placeholder="PIN" name="pin" [(ngModel)]="pin" />
        <button name="" id="submit" (click)="makeDeposit()">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shield-alt"
          class="svg-inline--fa fa-shield-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
          width="20px" height="20px">
          <path fill="currentColor"
            d="M466.5 83.7l-192-80a48.15 48.15 0 0 0-36.9 0l-192 80C27.7 91.1 16 108.6 16 128c0 198.5 114.5 335.7 221.5 380.3 11.8 4.9 25.1 4.9 36.9 0C360.1 472.6 496 349.3 496 128c0-19.4-11.7-36.9-29.5-44.3zM256.1 446.3l-.1-381 175.9 73.3c-3.3 151.4-82.1 261.1-175.8 307.7z">
          </path>
        </svg>
        &nbsp;&nbsp;Pay Securely
      </button>
    </form>

</div>


<div class="table-responsive">
    <table class="table table-hover mb-0 table-sm">
        <thead>
            <tr class="align-self-center tableHead">
                <th>#</th>
                <th scope="col">Date</th>
                <th scope="col">Service</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th scope="col">Charges</th>
                <th scope="col">status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let list of WalletTransaction.slice().reverse();let i=index">
                <th scope="row">{{i+1}}</th>
                <td>{{list.dateCreated | date}}</td>
                <td>{{list.service}}</td>
                <td>{{list.description}}</td>
                <td>{{list.amount}}</td>
                <td>{{list.serviceCharge}}</td>
                <td>{{list.status}}</td>
            </tr>
        </tbody>
    </table>
</div>