<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Wallet</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transactions</li>
    </ol>
</nav>

<div class="container mb-4 main-container">
    <div class="row">
        <div class="col-lg-4 pb-5 shadow">
            <!-- Account Sidebar-->
            <div class="card card-stats card-warning">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Account Number</p>
                                <h4 class="card-title">2541361773881</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-stats card-success">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="fa fa-money"></i>
                            </div>
                        </div>
                        <div class="col-7 d-flex align-items-center">
                            <div class="numbers">
                                <p class="card-category">Balance</p>
                                <h4 class="card-title">&#8358;1,224,566</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <!-- Orders Table-->
        <div class="col-lg-8 pb-5">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-box clearfix">
                                <div class="table-responsive">
                                    <table class="table user-list">
                                        <thead>
                                            <tr class="align-self-center tableHead">
                                                <th><span>#</span></th>
                                                <th><span>User</span></th>
                                                <th><span>Date</span></th>
                                                <th><span>Desription</span></th>
                                                <th>Amount</th>
                                                <th><span>Status</span></th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>

                                                    <a href="#" class="user-link">Mila Kunis</a>
                                                    <span class="user-subhead">Admin</span>
                                                </td>
                                                <td>
                                                    2013/08/08
                                                </td>
                                                <td>
                                                    <span>cash withdrawal</span>
                                                </td>
                                                <td>
                                                    <span>13245</span>
                                                </td>


                                                <td style="width: 20%;">
                                                    <span class="badge badge-secondary">Active</span>

                                                </td>
                                            </tr>

                                        </tbody>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1
                                                </td>
                                                <td>

                                                    <a href="#" class="user-link">Mila Kunis</a>
                                                    <span class="user-subhead">Admin</span>
                                                </td>
                                                <td>
                                                    2013/08/08
                                                </td>
                                                <td>
                                                    <span>cash withdrawal</span>
                                                </td>
                                                <td>
                                                    <span>13245</span>
                                                </td>


                                                <td style="width: 20%;">
                                                    <span class="badge badge-secondary">Active</span>

                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <ul class="pagination pull-right">
                                    <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end table-responsive-->

                </div>
            </div>
        </div>
    </div>
</div>